@tailwind base;
@tailwind components;
@tailwind utilities;

*{
  background-color: #000521;
  color: #fff;
}
.Formulario{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}
button{
  margin-top: 0.5rem;
}
label{
  margin: 0.5rem;
}